services:
  postgresql:
    image: postgres:17.0-alpine3.20
    hostname: postgresql
    restart: unless-stopped
    ports:
      - 35444:5432
    volumes:
      - ./docker/postgresql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:z
      - postgres_data:/var/lib/postgresql/data:z
    environment:
      - POSTGRES_PASSWORD=postgresqlPassword
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "1"


  jaeger:
    image: jaegertracing/all-in-one:1.58.1
    hostname: jaeger
    restart: unless-stopped
    ports:
      # https://www.jaegertracing.io/docs/1.54/deployment/
      - 44317:4317 # OTLP GRPC (other microservices)
      - 46686:16686 # web ui
    environment:
      - QUERY_BASE_PATH=/jaeger
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "1"
    command:
      - --memory.max-traces=100000

volumes:
  postgres_data:
